.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width : 768px) {
          font-size: 4.0rem;
          line-height: 4.4rem;
        }
      }
    }
    footer {
      margin-top: 4.0rem;
      .see-also {
        margin: 3.2rem 0;
        h3 {
          margin: 3.2rem 0;
        }
      }
    }
    p {
      text-align: justify;
      text-justify: auto;
      @media only screen and (max-width : 768px) {
          text-align: initial;
        }
    }
  }
  .post {
    .post-title {
      margin-bottom: .75em;
    }
    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img{
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-width : 768px) {
    width: 10rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;
    li {
      font-size: 1.8rem;
      @media only screen and (max-width : 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }
      .date {
        display: inline-block;
        width: 20.0rem;
        text-align: right;
        margin-right: 3.0rem;
        @media only screen and (max-width : 768px) {
          display: block;
          text-align: left;
        }
      }
      .title {
        font-size: 1.8rem;
        color: $fg-color;
        font-family: $heading-font-family;
        font-weight: 800;
        &:hover,
        &:focus {
          color: $link-color
        }
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    text-align: center;
    font-weight: 800;
    .greeting {
      font-size: 10rem;
      margin: 0;
      @media only screen and (max-height: 750px) and (min-width: 768px) {
        font-size: 8rem;
      }
      @media only screen and (max-width : 768px) {
        font-size: 5.5rem;
      }
    }
    .introduction {
      margin: 6rem 0 4rem 0;
      font-size: 7rem;
      @media only screen and (max-height: 750px) and (min-width: 768px) {
        margin: 4rem 0 2.4rem 0;
        font-size: 5.5rem;
      }
      @media only screen and (max-width : 768px) {
        margin: 3rem 0 2.2rem 0;
        font-size: 4.5rem;
      }
    }
    .info {
      margin: 0;
      font-size: 2.4rem;
      @media only screen and (max-width : 768px) {
        font-size: 2.0rem;
      }
    }
    ul {
      list-style: none;
      margin: 3.0rem 0 1.0rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          color: $fg-color;
          padding: 0.9rem 1.2rem 0.9rem 1.2rem;
          text-transform: uppercase;
          margin: 0 0.35rem 0 0.35rem;
          border-radius: 1rem;
          font-weight: 800;
          font-size: 1.6rem;
          text-decoration: none;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
          &:hover,
          &:focus {
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            color: $link-color;
            @media only screen and (max-width : 768px) {
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
          }
          @media only screen and (max-width : 768px) {
            font-size: 2rem;
            padding: 0;
            margin: 0 1rem 0 1rem;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
          }
          i {
            font-size: 1.6rem;
              @media only screen and (max-width : 768px) {
              font-size: 3rem;
            }
          }
          span {
            @media only screen and (max-width : 768px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width : 768px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2.0rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width : 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
